@charset "utf-8";
html,body{
    height: 100%;
}
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.gnmz {
    vertical-align: baseline;
}

.illwx {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.para {
    text-indent: 2em;
}

#container {
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 200px;
    position: relative;
}

#panel {

    top: 50px;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    right: 10px;
    width: 280px;
}

#panel .amap-call {
    background-color: #009cf9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#panel .amap-lib-walking {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

#shuru {
    width: 100px;
    height: 30px;

    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 50px;
    top: 20px;
}

#but {
    height: 30px;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}

.normal_table {
    width: 100%;
    border-spacing: 0;
}

#whole_table {
    width: 100%;
    border-spacing: 5px;
}

#whole_table th, td {
    padding: 0;
}

