<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>植物概览</title>
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='images2/logo2.png') }}">
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.6.0.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/detail.css') }}" type="text/css">
    <style>
        .button {
            font-size: 30px;
            background-image: url({{ url_for('static', filename='images2/' + style.button_image) }});
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            text-align: center;
            padding: 35px;
        }
    </style>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <script
        src="https://webapi.amap.com/maps?v=1.4.15&key=12387a9d8a0471196ba9bee015f9a52e&plugin=AMap.Walking"></script>
    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
    <script src="{{ url_for('static', filename='js/main/detail.js') }}"></script>
</head>

<body>
<div class="wrapper">
    <!--背景图片-->
    <div id="web_bg" style="background-image: url({{ url_for('static', filename='images2/' + style.web_image) }});">
    </div>
    <!--其他代码 ... -->
</div>
<form method="post" action="{{ url_for('main.t1') }}">
    {{ form.hidden_tag() }}
    <table style="width: 100%; height: 50px; border-spacing: 0;">
        <tbody>
        <tr>
            <td>
                <table style="width: 100%; height: 50px; border-spacing: 0;">
                    <tbody>
                    <tr>
                        <td style="width: 85%"><img src="{{ url_for('static', filename='images1/logo.png') }}"
                                                    width="50"
                                                    height="52" alt=""/> <img
                            src="{{ url_for('static', filename='images2/西南交通大学.png') }}" width="228" height="50"
                            alt=""/> <img src="{{ url_for('static', filename='images2/植物导览网站.png') }}" width="236"
                                          height="35" alt=""/></td>
                        <td style="width: 12%">{{ form.key }}</td>
                        <td style="width: 3%">{{ form.submit1 }}</td>
                        <script>
                            const inputBox = document.getElementById("shuru");
                            inputBox.addEventListener("keyup", function (event) {
                                event.preventDefault();
                                if (event.key === 'Enter') {
                                    document.getElementById("but").click();
                                }
                            });
                            window.onload = function () {
                                // 渲染网页元素，包括搜索框，背景，边框
                                document.getElementById("shuru").value = '{{ k }}';
                                $("#shuru").css({
                                    "border": "2px solid {{ style.input_color }}"
                                });
                                $("#but").css({
                                    "background-color": "{{ style.button_color }}",
                                    "border": "2px solid {{ style.button_border }}"
                                });
                                // 初始化地图
                                initial({{item.longitude}}, {{item.latitude}});
                                mini_map();
                            }
                        </script>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table id="whole_table">
                    <tbody>
                    <tr>
                        <td class="gnmz" style="background-color: {{ style.td_color }}; width: 23%">
                            <table class="normal_table">
                                <tbody>
                                <tr>
                                    <td class="button"><a href="#1F"
                                                          style="color:inherit; text-decoration:none"><strong>介
                                        绍</strong></a></td>
                                </tr>
                                <tr>
                                    <td class="button"><a href="#2F"
                                                          style="color:inherit; text-decoration:none"><strong>花
                                        期</strong></a></td>
                                </tr>
                                <tr>
                                    <td class="button"><a href="#3F"
                                                          style="color:inherit; text-decoration:none"><strong>花
                                        语</strong></a></td>
                                </tr>
                                <tr>
                                    <td class="button"><a href="#4F"
                                                          style="color:inherit; text-decoration:none"><strong>分
                                        布</strong></a></td>
                                </tr>
                                <tr>
                                    <td class="button"><a href="{{ url_for("main.index") }}"
                                                          style="color:inherit; text-decoration:none"><strong>返
                                        回</strong></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="fjb" style="background-color: {{ style.td_color }}">
                            <table style="width: 100%; ;border: 10px outset {{ style.td_border }};">
                                <tr style="border: 0">
                                    <th height="20%" colspan="3" style="font-size: 70px; color: #000000;">
                                        <strong id="title">{{ item.name }}</strong>
                                    </th>
                                </tr>
                                <tr>
                                    <td style="background-color: #0C7721"></td>
                                    <td style="text-align: center; font-size: 18px">
                                        <div style="cursor: pointer; user-select: none; display: flex; justify-content: center" id="collect">
                                            {% if current_user.is_authenticated %}
                                                <form id='on_favorite' method="post" action="{{ url_for('posts.collect', pid=plant_id) }}">
                                                    {% if current_user.is_favorite(plant_id) %}
                                                    <img id="star_full" src="{{ url_for('static', filename='images2/source/Star_full.png') }}" style="width: 26px; height: 26px" alt="">
                                                        <img id="star_empty" src="{{ url_for('static', filename='images2/source/Star_empty.png') }}" style="display: none; width: 26px; height: 26px" alt="">
                                                        <div id="is_favorite" onclick="changeStyle(this, '{{ url_for('posts.collect', pid=plant_id) }}')">已收藏</div>
                                                    {% else %}
                                                        <img id="star_empty" src="{{ url_for('static', filename='images2/source/Star_empty.png') }}" style="width: 26px; height: 26px" alt="">
                                                        <img id="star_full" src="{{ url_for('static', filename='images2/source/Star_full.png') }}" style="display: none; width: 26px; height: 26px" alt="">
                                                        <div id="is_favorite" onclick="changeStyle(this, '{{ url_for('posts.collect', pid=plant_id) }}')">收藏</div>
                                                    {% endif %}
                                                </form>
                                            {% else %}
                                                <img id="star_empty" src="{{ url_for('static', filename='images2/source/Star_empty.png') }}" style="width: 26px; height: 26px" alt="">
                                                <div id="is_favorite" onclick="alert('登录后即可使用收藏功能！')">收藏</div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td style="background-color: #fcfd49"></td>
                                </tr>
                                <script>
                                    let search_box_text = document.getElementById("title").innerText;
                                    search_box_text = search_box_text.replace(/\s*/g, "");
                                    document.getElementById("search_box").value = search_box_text;
                                    function changeStyle(obj, route){
                                        if (obj.innerText.replace(/\s*/g, "")==='收藏'){
                                            obj.innerText='已收藏';
                                            document.getElementById('star_full').style.display = 'unset';
                                            document.getElementById('star_empty').style.display = 'none';
                                        }
                                        else{
                                            obj.innerText='收藏';
                                            document.getElementById('star_full').style.display = 'none';
                                            document.getElementById('star_empty').style.display = 'unset';
                                        }
                                        $.ajax({
                                            type: 'GET',
                                            url: route,
                                            dataType: 'json',
                                            data: $('#on_favorite').serialize(),
                                            success: function(){
                                                //alert('成功');
                                            },
                                            error: function(){
                                                alert('网络异常');
                                            }
                                        });
                                    }
                                </script>
                            </table>
                            <div class="illwx">
                                <table style="width: 100%; border-spacing: 5px">
                                    <tbody>
                                    <tr>
                                        <td height="350px">
                                            <table style="width: 100%; border-spacing: 20px;">
                                                <tbody>
                                                <tr>
                                                    <th height="322" scope="col" style="width: 45%; margin-top: auto">
                                                        <img
                                                            src="{{ item.detail_p }}" width="100%" height="100%"
                                                            alt=""/>
                                                    </th>
                                                    <th class="para" scope="col"
                                                        style="width: 100%; font-size: large;line-height: 30px; color: black;float:left; text-align: left"
                                                    ><a id="1F"><strong>
                                                        {{ item.academic }}
                                                    </strong></a></th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="para" height="50px" style="font-size: large;line-height: 30px;">
                                            <strong>{{ item.literary }}
                                            </strong></td>
                                    </tr>
                                    <tr>
                                        <td height="20%" style="font-size: 40px; color: #000000;"><a
                                            id="2F"><strong>花 期：{{ item.time }}</strong></a></td>
                                    </tr>
                                    <tr>
                                        <td height="20%" style="font-size: 40px; color: #000000;"><a
                                            id="3F"><strong>花 语：{{ item.language }}</strong></a></td>
                                    </tr>
                                    <tr>
                                        <td height="20%" style="font-size: 40px; color: #000000;"><a
                                            id="4F"><strong>分 布</strong></a></td>
                                    </tr>
                                    <tr>
                                        <td height="500px" id="container"></td>
                                    </tr>
                                    <tr>
                                        <td height="50%" id="panel"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>