<!doctype html>
{% from 'common/marco.html' import show_pagination %}
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>搜索结果</title>
<link rel="SHORTCUT ICON" href="{{ url_for('static', filename='images2/logo2.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/search_2.css') }}" type="text/css">

</head>
<body>
	<div class="wrapper">
    <div id="web_bg" style="background-image: url({{ url_for('static', filename='images2/background2.png') }});">
		</div>
 </div>
<div class="whole_search">
	<div class="dh_search">
		<img src="{{ url_for('static', filename='images1/logo.png') }}" height="70px" alt="">
		<img src="{{ url_for('static', filename='images2/西南交通大学.png') }}" height="40" width="auto" class="xnjd" alt="">
		<img src="{{ url_for('static', filename='images1/植物导览网站.png') }}" height="30" width="auto" class="web" alt="">
		<form class="sou" method="post" action="{{ url_for('main.t1') }}">
            {{ form.hidden_tag() }}
            {{ form.key }}
            {{ form.submit1 }}
		<script>
            const inputBox = document.getElementById("shuru");
            inputBox.addEventListener("keyup", function(event) {
				event.preventDefault();
				if (event.key === 'Enter') {
				document.getElementById("but").click();
			}
			});
            function information(count){
                document.getElementById("shuru").value='{{ k }}';
                if ( count !== 0 )
                    {document.getElementById("search_ts").innerHTML="已为您找到"+ count +"个结果";}
                else
                    {document.getElementById("search_ts").innerHTML="未找到任何结果。更换关键词后再重新发起搜索吧。";}
				document.getElementById("xianshi").style.height=String(String(165* count )+"px");
            }
			window.onload= function(){
                information({{ count }});
            }
		</script>
		</form>
		<div class="fh" onclick="goBack()" style="background-image: url({{ url_for('static', filename='image_search/button3.png') }});">返回</div>
		<script>
			function goBack(){
				window.open("{{ url_for("main.index")}}","_self");
			}
		</script>
	</div>
	<div id="search_ts">加载中，请稍后</div>
	<div id="xianshi">
        {% for item in xianshi %}
            <div class="content" >
		        <div class="left"><img src="{{item.image}}" alt="" width="160px" height="auto"></div>
		        <div class="middle"><p class="search_text"><strong>种名：</strong>{{ item.name }}</p><p class="search_text"><strong>科名：</strong>{{ item.family }}</p> <p class="search_text"><strong>主要分布区域:</strong></p><p class="search_text">{{ item.area }}</p>
		        <a href="{{ item.href }}" class="search_text more"><strong>查看更多--></strong></a></div>
		        <div class="right"><span class="search_nr">{{ item.brief }}</span></div>
            </div>
        {% endfor %}
	</div>

	</div>
</body>
</html>
