{% extends 'user/home/home_base.html' %}

{% block right_content %}
    {# 这里对右栏布局 #}
    <div id="info" style="margin-left: 10px; margin-top: 5px">加载中，请稍后</div>
    {# TODO: 完成投稿页面的布局 #}

{% endblock %}

{% block page_button %}
    {% if count != 0 %}
        <div style="position: absolute;bottom: 2px; margin-left: {{ 790-(count//per_page)*13 }}px; ">{{ show_pagination(pagination, 'user.home_favorites') }}</div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {# 这里写js代码 #}
    {{ super() }}
    <script type="text/javascript">
        window.onload = function () {
            information({{ count }});
        }
        function information(count){
        if ( count !== 0 )
            {document.getElementById("info").innerHTML="您有"+ count +"篇投稿";}
        else
            {document.getElementById("info").innerHTML="您还没有任何投稿。点击首页底部的“向我投稿”，将您发现的新植物告诉我们！";}
        }
    </script>
{% endblock %}